<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/offresemploi_list.css"/>
    <title>WORKYS</title>
  </head>
<body>
    <%- include('../../error.ejs'); %>
    <div id="main_overlay"></div>
    <script type="module" src="/javascripts/index.js"></script>
    <%- include('../../header.ejs'); %>
    <main class="p-3">
        <h1><%= list_title %></h1>
        <div class="p-3">
            <% if(offresEmploi.length > 0) { %>
                <table class="w-100 border border-2 border-dark">
                    <thead class="w-100 border-bottom border-1 border-dark">
                        <tr>
                            <th class="px-3 text-center">Id</th>
                            <th class="px-3 text-center">Status</th>
                            <th class="px-3 text-center">Poste</th>
                            <th class="px-3 text-center">Status du Poste</th>
                            <th class="px-3 text-center">Description</th>
                            <th class="px-3 text-center">Documents nécessaires</th>
                            <th class="px-3 text-center">Date de fin de validité</th>
                            <th class="px-3">Action</th>
                            <th class="px-3">Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% offresEmploi.forEach((offreEmploi)=> { %>
                            <tr class="border-bottom border-1 border-grey"> 
                                <td class="py-2 px-1 text-center"> 
                                    <%= offreEmploi.id %> 
                                </td>
                                <td class="py-2 px-1 text-center">
                                    <% if(offreEmploi.status != 'published') { %>
                                        Brouillon
                                    <% } else { %>
                                        Publié
                                    <% } %>
                                </td>
                                <td class="py-2 px-1"> 
                                    <p><%= offreEmploi.title %></p>
                                </td>
                                <td class="py-2 px-1"> 
                                    <p><%= offreEmploi.poste_status %></p>
                                </td>
                                <td class="py-2 px-1"> 
                                    <div class="description">
                                        <p><%= offreEmploi.poste_description %></p>
                                    </div> 
                                </td>
                                <td class="py-2 px-1"> 
                                    <p><%= offreEmploi.required_documents %></p>
                                </td>
                                <td class="py-2 px-1 text-center">
                                    <%= offreEmploi.valid_date %>
                                </td>
                                <td class="py-2 px-1">
                                    <div class="d-flex flex-column h-100">
                                        <% if(offreEmploi.status != 'published') { %>
                                            <button class="my-1" onclick="window.location.href='/recruiter/offresemploi/<%= offreEmploi.id %>/published'">Publier</button>
                                        <% } else { %>
                                            <button class="my-1" onclick="window.location.href='/recruiter/offresemploi/<%= offreEmploi.id %>/drafted'">Mettre en brouillon</button>
                                        <% } %>
                                        <button class="my-1" onclick="window.location.href='/recruiter/offresemploi/<%= offreEmploi.id %>/edit'">Editer</button>
                                    </div>
                                </td>
                                <td class="py-2 px-1">
                                    <button onclick="window.location.href='/recruiter/offresemploi/<%= offreEmploi.id %>/delete'">Supprimer</button>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <h3 class="border-bottom border-1 border-grey my-2"> 
                    <p>Aucune offres d'emploi pour l'instant...</p>
                </h3>
            <% } %>
        </div>
        <h1><%= create_title %></h1>
        <form method="post" action="/recruiter/offresemploi/create" class="d-flex flex-column flex-grow-1 p-3">
        <div class="d-flex flex-row">
            <div class="p-1">
                <h2 class="mx-2">Fiche de poste</h2>
                <select name="oe_fiche" class="p-1 m-2">
                    <% fichesPoste.forEach((fiche)=> { %>
                        <option value="<%= fiche.id %>"> <%= fiche.title %> </option>
                    <% }) %>
                </select>
            </div>
            <div class="p-1">
                <h2 class="mx-2">Documents requis</h2>
                <input type="text" name="oe_required_documents" placeholder="Documents requis" class="p-1 m-2"/>
            </div>
            <div class="p-1">
                <h2 class="mx-2">Date de fin de validité</h2>
                <input type="date" name="oe_valid_date" placeholder="Date de début" class="p-1 m-2"/>
            </div>
        </div>
        <input type="submit" value="Envoyer"/>
        </form>
    </main>
    <%- include('../../nav.ejs'); %>
</body>
</html>