<body>
    <h1>
        <%= list_title %>
    </h1>
    <table border>
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <% offresEmploi.forEach((offreEmploi)=> { %>
                <tr> 
                    <td> 
                        <%= offreEmploi.id %> 
                    </td>
                    <td> 
                        <%= offreEmploi.status %> 
                    </td>
                    <td> 
                        <%= offreEmploi.description %> 
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <h1><%= create_title %></h1>
    <form method="post" action="/recruiter/offresemploi/create">
        <input type="text" name="oe_title" placeholder="Intitulé"/>
        <input type="date" name="oe_valid_date" placeholder="Date de début"/>
        <input type="text" name="oe_description" placeholder="Description de l'offre"/>
        <select name="oe_fiche">
            <% fichesPoste.forEach((fiche)=> { %>
                <option> <%= fiche.title %> </option>
            <% }) %>
        </select>
        <input type="submit" value="Envoyer"/>
    </form> 
</body>