<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/stylesheets/fichesemploi_list.css"/>
    <title>WORKYS</title>
  </head>
  <body>
    <script type="module" src="/javascripts/index.js"></script>
    <header class="navbar fixed-top border-bottom border-2 border-dark z-0">
        <a class="navbar-brand px-3">WORKYS</a>
        <img src="/images/burger_icon.svg" id="burger_icon" class="px-3"/>
    </header>
    <main class="p-3">
        <h1>Editer l'offre d'emploi</h1>
        <form method="post" action="/recruiter/offresemploi/<%= offre.id %>/edit" class="d-flex flex-column flex-grow-1 p-3">
            <div class="d-flex flex-row">
                <div class="p-1">
                    <h2 class="mx-2">Fiche de poste</h2>
                    <select name="oe_fiche" class="p-1 m-2" value="offre.fiche">
                        <% fichesPoste.forEach((fiche)=> { %>
                            <option value="<%= fiche.id %>"> <%= fiche.title %> </option>
                        <% }) %>
                    </select>
                </div>
                <div class="p-1">
                    <h2 class="mx-2">Date de fin de validité</h2>
                    <input type="date" name="oe_valid_date" placeholder="Date de début" class="p-1 m-2" value="<%= offre.valid_date %>"/>
                </div>
            </div>
            <div class="p-1">
                <h2>Description de l'offre</h2>
                <textarea type="text" name="oe_description" placeholder="Description de l'offre" class="p-1 my-1 w-100 desc_offer"><%= offre.description %></textarea>
            </div>
            <div class="p-1">
                <input type="submit" value="Modifier" class="w-100"/>
            </div>
            </form> 
    </main>
    <nav class="nav_sidebar bg-white">
        <div class="nav_content m-5">
            <h1>MENU</h1>
            <ul>
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/">Accueil</a>
                </li>
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/user/me">Mon compte</a>
                </li>
                <% if(user.user_role != 'utilisateur' && user.org_siren !== null) { %>
                    <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                        <a href="/recruiter">Espace recruteur</a>
                    </li>
                <% } else { %>
                    <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                        <a href="/organization/list">Rejoindre une organisation</a>
                    </li>
                    <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                        <a href="/organization/create">Créer une organisation</a>
                    </li>
                <% } %>
                <% if(user.user_role === 'administrateur') { %>
                    <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                        <a href="/admin">Espace administrateur</a>
                    </li>
                <% } %> 
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/connect/logout">Se déconnecter</a>
                </li>
            </ul>
            <p id="exit_nav">X</p>
        </div>
    </nav>
</body>
</html>