<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/stylesheets/user_index.css"/>
    <title>WORKYS</title>
  </head>
    <body>
        <div id="main_overlay"></div>
        <script type="module" src="/javascripts/index.js"></script>
        <%- include('../header.ejs') %>
        <main>
            <section>
                <div class="p-3 border-bottom border-2 border-dark">
                    <div class="container">
                        <div class="row justify-content-center">
                            <h1 class="col-2 text-nowrap text-center"><%= offre.title %></h1>
                        </div>
                        <div class="row justify-content-between">
                            <h2 class="mx-2 text-nowrap col-2 text-start">Type de contrat: <%= offre.type %></h2>
                            <h2 class="mx-2 text-nowrap col-2 text-end">Salaire moyen: <%= offre.average_salary %>€/an</h2>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <h1 class="mx-2">Description de l'offre :</h1>
                    <p class="mx-2"><%= offre.description %></h2>
                </div>
            </div>
            <% if(!offre.has_applied) { %>
                <div class="d-flex flex-row">
                    <h1>Postuler à cette offre...</h1>
                </div>
                <div class="container">
                    <div class="row m-2">
                        <h2>
                            Mes pièces
                        </h2>
                        <form class="border border-1 border-dark p-0 d-block mh-25" method="post" action="/offreemploi/<%= offre.id %>/apply" id="candidature_form" enctype="multipart/form-data">
                            <div class="row w-100 p-0 m-0" id="fileRow0"><input type="file" name="file[]" placeholder="Fichier" class="fileFields col-sm form-control rounded-0 h-100">
                                <select name="type[]" class="col-sm border-0">
                                    <option value="Autre">Autre</option>
                                    <option value="CV">CV</option>
                                    <option value="Lettre de motivation">Lettre de motivation</option>
                                </select>
                                <button class="col-sm border-0 btn btn-dark rounded-0" disabled></button>
                            </div>
                        </form>
                    </div>
                    <div class="row m-2">
                        <button onclick="addPiece()">Ajouter une pièce</button>
                    </div>
                    <div class="row m-2">
                        <button onclick="submitForm()">Envoyer ma candidature</button>
                    </div>
                </section>
            <% } %>
            <aside class="p-2">
                <div class="d-flex flex-column align-items-center">
                    <h1>L'entreprise</h1>
                    <h2 class="mx-2"><%= offre.organisation.name %></h2>
                    <ul class="my-3">
                        <li><%= offre.organisation.type %></li>
                        <li><%= offre.organisation.address %></li>
                    </ul>
                </div>
                <h1>Cette entreprise vous plait ?</h1>
                <h2>Voici d'autres offres...</h2>
                <div style="height: 65%;" class="px-2 overflow-auto">
                    <% others.forEach((annonce)=> { %>
                        <article style="z-index: 1" class="border border-2 border-dark p-2 my-3 d-flex flex-column flex-wrap align-items-left justify-content-between">
                                <h1><%= annonce.title %></h2>
                                <h4><%= annonce.type %> - <%= annonce.avg_salary %>€/an</h4>
                            <p style="max-height: 120px; overflow: hidden;"><%= annonce.description %></p>
                            <button style="z-index: 2" class="w-100" onclick="window.location.href='/offreemploi/<%= annonce.id %>'">Voir plus...</button>
                        </article>
                    <% }) %>
                </div>
            </aside>
        </main>
        <%- include('../nav.ejs'); %>
        <script src="/javascripts/fileUpload.js">
        </script>
    </body>
</html>
