<body>
    <h1>
        <%= title %>
    </h1>
    <section>
        <table border>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Average salary</th>
                    <th>Organisation name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td><%= offre.title %></td>
                    <td><%= offre.type %></td>
                    <td><%= offre.average_salary %>€/an</td>
                    <td><%= offre.name %></td>
                    <td><%= offre.description %></td>
                </tr>
        </tbody>
    </section>
    <section>
        <h1>
            Postuler
        </h1>
        <button onclick="addPiece()">Ajouter une pièce</button>
        <form method="post" action="/offreemploi/<%= offre.id %>/apply" id="candidature_form" enctype="multipart/form-data">
            <input type="submit" value="Envoyer ma candidature"/>
        </form>
    </section>

    <script>
        const formField = document.getElementById("candidature_form");
        let PIECES_COUNT = 0;

        const createPiece = (fileId) => {
            var newRow = document.createElement('div');
            newRow.setAttribute('id', `fileRow${fileId}`)

            // Create the file input
            var newField = document.createElement('input');
            newField.setAttribute('type','file');
            newField.setAttribute('name','file[]');
            newField.setAttribute('class', 'fileFields')
            newField.setAttribute('placeholder','Fichier');
            newRow.appendChild(newField);

            // Create the file select
            var newSelect = document.createElement('select');
            newSelect.setAttribute('name','type[]');

            // Create the options
            var selectTypes = ['Autre', 'CV', 'Lettre de motivation']
            selectTypes.forEach(element => {
                var newSelectType = document.createElement('option')
                newSelectType.value = element;
                newSelectType.text = element;

                newSelect.appendChild(newSelectType);
            })
            newRow.appendChild(newSelect);

            // Create the delete button
            var deleteBtn = document.createElement('button');
            deleteBtn.innerHTML = 'X'
            deleteBtn.onclick = (event) => {
                event.preventDefault();

                newRow.remove();
            }

            newRow.appendChild(deleteBtn);

            return newRow;
        }

        const addPiece = () => {
            var files = document.getElementsByClassName("fileFields");

            // If exist one element and has a file => exit
            if(files[files.length - 1]?.files?.length === 0)
                return;

            var newPiece = createPiece(PIECES_COUNT)

            PIECES_COUNT++;

            formField.appendChild(newPiece);
        }
    </script>
</body>