<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/offresemploi_list.css"/>
    <title>WORKYS</title>
  </head>
<body>
    <%- include('../../error.ejs'); %>
    <div id="main_overlay"></div>
    <script type="module" src="/javascripts/index.js"></script>
    <%- include('../../header.ejs'); %>
    <main class="p-3">
        <h1>
            Candidature du <%= candidature.date.toLocaleString() %> 
        </h1>
        <div class="p-3">
            <table class="w-100 border border-2 border-dark">
                <thead class="w-100 border-bottom border-1 border-dark">
                    <tr>
                        <th class="px-3 text-center">Voir</th>
                        <th class="px-3 text-center">SIREN de l'entreprise</th>
                        <th class="px-3 text-center">Nom de l'entreprise</th>
                        <th class="px-3 text-center">Date de la candidature</th>
                        <th class="px-3 text-center">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-bottom border-1 border-grey"> 
                        <td class="py-2 px-1 text-center"> 
                            <button onclick="window.location.href='/offreemploi/<%= candidature.offer_id %>'">
                                Voir l'offre
                            </button> 
                        </td>
                        <td class="py-2 px-1 text-center"> 
                            <%= candidature.siren %> 
                        </td>
                        <td class="py-2 px-1 text-center"> 
                            <%= candidature.name %> 
                        </td>
                        <td class="py-2 px-1 text-center"> 
                            <%= candidature.date.toLocaleString() %> 
                        </td>
                        <td class="py-2 px-1 text-center">
                            <button onclick="window.location.href='/user/<%= user.user_id %>/candidatures/<%= candidature.id %>/delete'">
                                Supprimer la candidature
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1>Mes pièces</h1>
        <div class="p-3">
            <table class="w-100 border border-2 border-dark">
                <thead class="w-100 border-bottom border-1 border-dark">
                    <tr>
                        <th class="px-3 text-center">Pièce jointe</th>
                        <th class="px-3 text-center">Type de la pièce</th>
                        <th class="px-3 text-center">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <% pieces.forEach((piece)=> { %>
                        <tr class="border-bottom border-1 border-grey"> 
                            <td class="py-2 px-1 text-center"> 
                                <a href="/user/<%= user.user_id %>/candidatures/<%= candidature.id %>/pieces_jointes/<%= piece.id %>" target="_blank"><%= piece.original_filename %></a>
                            </td>
                            <td class="py-2 px-1 text-center"> 
                                <%= piece.categorie %>
                                </td>
                            <td class="py-2 px-1 text-center"> 
                                <button onclick="window.location.href='/user/<%= user.user_id %>/candidatures/<%= candidature.id %>/pieces_jointes/<%= piece.id %>/delete'">
                                    Supprimer la PJ
                                </button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <h1>Ajouter une pièce</h1>
        <div class="p-3">
            <form 
                method="post" 
                class="border border-1 border-dark p-0 d-block mh-25 needs-validation" 
                action="/user/<%= user.user_id %>/candidatures/<%= candidature.id %>/pieces_jointes/add" 
                id="candidature_form" 
                enctype="multipart/form-data"
                novalidate
            >
                <div class="row w-100 p-0 m-0" id="fileRow">
                    <input type="file" name="file" placeholder="Fichier" class="fileFields col form-control rounded-0 p-0" required>
                    <select name="type" class="col border-0 m-0 p-1">
                        <option value="Autre">Autre</option>
                        <option value="CV">CV</option>
                        <option value="Lettre de motivation">Lettre de motivation</option>
                    </select>
                    <input class="col border-0 bg-dark text-light m-0 p-0" type="submit" value="Ajouter une pièce"/>
                </div>
            </form>
        </div>
    </main>            
    <%- include('../../nav.ejs'); %>
    <script src="/javascripts/bootstrap-form-validation.js"></script>
</body>
</html>