<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="stylesheets/index.css"/>
    <title>WORKYS</title>
  </head>
  <body>
    <script type="module" src="javascripts/index.js"></script>
    <header class="navbar fixed-top border-bottom border-2 border-dark z-0">
        <a class="navbar-brand px-3">WORKYS</a>
        <form method="get" action="/" class="header_search w-25 p-2 border border-2 border-dark d-flex">
            <img src="images/mag_glass.svg" id="mag_glass"/>
            <input type="text" name="q" placeholder="Rechercher une offre..." value="<%= query.q %>" class="border border-0 pull-right flex-grow-1 mx-2"/>
        </form>
        <img src="images/burger_icon.svg" id="burger_icon" class="px-3"/>
    </header>
    <div id="main_overlay"></div>
    <main>
        <aside class="p-3">
            <h1>Affiner votre recherche</h1>
            <div class="p-2">
                <h2>Type de contrat</h2>
                <div class="py-2 px-4">
                    <div class="d-flex align-items-center">
                        <input type="checkbox" class="border-2 border-dark"/> 
                        <label class="form-check-label px-1"> CDI </label>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="checkbox" class="border-2 border-dark"/> 
                        <label class="form-check-label px-1"> CDD </label>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="checkbox" class="border-2 border-dark"/> 
                        <label class="form-check-label px-1"> Stage </label>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="checkbox" class="border-2 border-dark"/> 
                        <label class="form-check-label px-1"> Mission </label>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <h2>Localisation</h2>
                <input type="text" placeholder="Ajouter une localisation..." class="border border-2 border-dark py-1 px-2"/>
            </div>
            <div class="p-2">
                <h2>Fourchette de salaire</h2>
                <img src="images/salaray_slider.svg" id="salaray_slider" class="my-3"/>
            </div>
            <div class="p-2">
                <h2>Entreprise</h2>
                <input type="text" placeholder="Ajouter une entreprise..." class="border border-2 border-dark py-1 px-2"/>
            </div>
            <div class="p-2">
                <h2>Mots-clés</h2>
                <input type="text" placeholder="Ajouter un mot-clé..." class="border border-2 border-dark py-1 px-2"/>
            </div>
        </aside>
        <section class="p-3">
            <% annonces.forEach((annonce)=> { %>
                <article onclick="window.location.href='/offreemploi/<%= annonce.id %>'" class="border border-2 border-dark p-2 my-3">
                    <div class="d-flex flex-row flex-wrap align-items-center justify-content-between">
                        <h1><%= annonce.title %></h2>
                        <h4><%= annonce.type %> - <%= annonce.avg_salary %>€/an</h4>
                    </div>
                    <h3><%= annonce.org_name %></h3>
                    <p><%= annonce.description %> </p>
                </article>
            <% }) %>
        </section>
    </main>
    <nav class="nav_sidebar bg-white">
        <div class="nav_content m-5">
            <h1>MENU</h1>
            <ul>
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/">Accueil</a>
                </li>
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/user/me">Mon compte</a>
                </li>
                <% if(user.user_role != 'utilisateur' && user.org_siren !== null) { %>
                    <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                        <a href="/recruiter">Espace recruteur</a>
                    </li>
                <% } else { %>
                    <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                        <a href="/organization/list">Rejoindre une organisation</a>
                    </li>
                    <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                        <a href="/organization/create">Créer une organisation</a>
                    </li>
                <% } %>
                <% if(user.user_role === 'administrateur') { %>
                    <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                        <a href="/admin">Espace administrateur</a>
                    </li>
                <% } %> 
                <li class="border border-2 border-white p-2 m-2 w-100 d-block">
                    <a href="/connect/logout">Se déconnecter</a>
                </li>
            </ul>
            <p id="exit_nav">X</p>
        </div>
    </nav>
  </body>
</html>