<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" href="stylesheets/index.css"/>
    <script src="https://unpkg.com/@spreadtheweb/multi-range-slider@1.0.2/dist/range-slider.main.min.js"></script>
    <title>WORKYS</title>
  </head>
  <body>
    <%- include('./error.ejs'); %>
    <!-- Pas d'import parceque recherche ! -->
    <header class="navbar fixed-top border-bottom border-2 border-dark z-0">
        <a href="/" class="navbar-brand px-3">WORKYS</a>
        <form method="get" action="/" class="header_search w-50 p-2 border border-2 border-dark d-flex">
            <img src="images/mag_glass.svg" id="mag_glass"/>
            <input type="text" name="q" placeholder="Rechercher une offre..." value="<%= query.q %>" class="border border-0 pull-right flex-grow-1 mx-2"/>
        </form>
        <img src="images/burger_icon.svg" id="burger_icon" class="px-3"/>
    </header>
    <div id="main_overlay">
    </div>
    <div id="modal_overlay_bg">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div id="modal_overlay" class="bg-white border border-2 border-dark shadow-sm w-50 position-relative p-2">
                <button onclick="closeAnnonceModal()" class="position-absolute top-0 end-0 m-2">X</button>
                <h1 id="modal_title" class="text-dark">Title</h1>
                <h2 id="modal_org" class="text-dark">par Organization</h2>
                <h3 class="text-dark pt-2">Description de l'offre : </h3>
                <p id="modal_desc" class="text-dark h-25 overflow-hidden">Descritpion</p>
                <div class="container">
                    <div class="row m-2">
                        <h2>
                            Mes pièces
                        </h2>
                        <form class="border border-1 border-dark p-0 d-block mh-25 needs-validation" method="post" action="#" id="candidature_form" enctype="multipart/form-data" novalidate>
                            <div class="row w-100 p-0 m-0" id="fileRow0">
                                <input type="file" name="file[]" placeholder="Fichier" class="fileFields col-sm form-control rounded-0 h-100" required>
                                <select name="type[]" class="col-sm border-0">
                                    <option value="Autre">Autre</option>
                                    <option value="CV">CV</option>
                                    <option value="Lettre de motivation">Lettre de motivation</option>
                                </select>
                                <button class="col-sm border-0 btn btn-dark rounded-0" disabled></button>
                            </div>
                            <div class="row m-2">
                                <button type="button" onclick="addPiece()">Ajouter une pièce</button>
                            </div>
                            <div class="row m-2">
                                <input type="submit" value="Envoyer ma candidature"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <aside class="p-3">
            <h1>Affiner votre recherche</h1>
            <div class="p-2">
                <h2>Type de contrat</h2>
                <div class="py-2 px-4">
                    <div class="d-flex align-items-center">
                        <input type="checkbox" class="border-2 border-dark filter-input filter-input-type" value="CDI"/> 
                        <label class="form-check-label px-1"> CDI </label>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="checkbox" class="border-2 border-dark filter-input filter-input-type" value="CDD"/> 
                        <label class="form-check-label px-1"> CDD </label>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="checkbox" class="border-2 border-dark filter-input filter-input-type" value="Stage"/> 
                        <label class="form-check-label px-1"> Stage </label>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="checkbox" class="border-2 border-dark filter-input filter-input-type" value="Mission"/> 
                        <label class="form-check-label px-1"> Mission </label>
                    </div>
                </div>
            </div>
            <form class="p-2" id="localisation-form" name="localisation-form">
                <h2>Localisation</h2>
                <input type="text" placeholder="Ajouter une localisation..." class="border border-2 border-dark py-1 px-2"/>
                <div class="m-2"></div>
            </form>
            <div class="p-2">
                <h2>Fourchette de salaire</h2>
                <div class="pt-3 pb-1">
                   <div class="slider"></div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <span><%= income.min %>€</span>
                    <span><%= income.max %>€</span>
                </div>
                <script>
                    let slider = new RangeSlider('.slider', {
                        pointRadius: 9,
                        railHeight: 8,
                        trackHeight: 8,
                        colors: {
                            points: "#000000",
                            rail: "#FFFFFFF",
                            tracks: "#000000"
                        },
                        min : <%= income.min %>,
                        max : <%= income.max %>,
                        values : [<%= income.min %>, <%= income.max %>]
                    });

                    const updateValues = (values) => {
                        filters.min_price = values[0];
                        filters.max_price = values[1];
                    }

                    slider.onChange(values => {
                        updateValues(values);
                        asyncAnnoncesFetch();
                    });

                    updateValues(slider.values);
                </script>
            </div>
            <form class="p-2" id="keywords-form" name="keywords-form">
                <h2>Mots-clés</h2>
                <input type="text" placeholder="Ajouter un mot-clé..." class="border border-2 border-dark py-1 px-2"/>
                <div class="m-2"></div>
            </form>
        </aside>
        <section id="annonces-list-wrapper" class="p-3">
            <div id="spinner-wrapper" class="h-100 d-flex align-items-center justify-content-center">
                <div class="spinner-border" role="status">
                </div>
            </div>
            <div id="annonces-list">
            </div>
            <div id="pagination-footer" class="row">
                <div class="col-6">
                    <button id="prev-page-btn" class="w-100 d-none" onclick="modifyPage(-1)">Page précedente</button>
                </div>
                <div class="col-6">
                    <button id="next-page-btn" class="w-100 d-none" onclick="modifyPage(+1)">Page suivante</button>
                </div>
            </div>
        </section>
    </main>
    <%- include('./nav.ejs'); %>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/index-async.js"></script>
    <script src="/javascripts/index-filters.js"></script>
    <script src="/javascripts/fileUpload.js"></script>
    <script src="/javascripts/bootstrap-form-validation.js"></script>
  </body>
</html>