<body>
    <h1>
        <%= title %>
    </h1>
    <table border>
        <form method="get" action="/admin/organization/list">
            <input type="text" name="q" placeholder="Rechercher une organisation..." value="<%= query.q %>"/>
            <input type="submit" value="Rechercher"/>
        </form>
        <thead>
            <tr>
                <th>SIREN</th>
                <th>Name</th>
                <th>Type</th>
                <th>Address</th>
                <th>Active</th>
                <th>Gérer</th>
            </tr>
        </thead>
        <tbody>
            <% organizations.forEach((organization)=> { %>
                <tr> 
                    <td> 
                        <%= organization.siren %> 
                    </td>
                    <td> 
                        <%= organization.name %> 
                    </td>
                    <td> 
                        <%= organization.type %> 
                    </td> 
                    <td> 
                        <%= organization.address %> 
                    </td>
                    <td>
                        <% if(organization.active) { %>
                        <% } else { %>
                            <button onclick="window.location.href='/admin/organization/<%= organization.siren %>/enable'">Rendre active</button>
                        <% } %>
                    </td>
                    <td>
                        <% if(organization.active) { %>
                            <button onclick="window.location.href='/admin/organization/<%= organization.siren %>'">Gérer</button>
                        <% } else { %>
                        <% } %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
</body>