<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/stylesheets/candidature_list.css"/>
    <title>WORKYS</title>
  </head>
  <body>
    <div id="main_overlay"></div>
    <script type="module" src="/javascripts/index.js"></script>
    <%- include('../../header.ejs'); %>
    <main class="p-3">
        <h1 class="py-2">Candidature : <%= candidature.name + ' ' + candidature.surname %></h1>
        <div class="py-2">
            <h1>Informations</h1>
            <ul class="p-2">
                <li>Adresse Mail: <%= candidature.email %></li>
                <li>Numéro de Téléphone: <%= candidature.phone_number %></li>
            </ul>
        </div>
        <h1>Les pièces jointes</h1>
        <div class="p-3">
            <table class="w-100 border border-2 border-dark">
                <thead class="w-100 border-bottom border-1 border-dark">
                    <tr>
                        <th class="px-3 text-center">Pièce jointe</th>
                        <th class="px-3 text-center">Type de la pièce</th>
                    </tr>
                </thead>
                <tbody>
                    <% pieces.forEach((piece)=> { %>
                        <tr class="border-bottom border-1 border-grey"> 
                            <td class="py-2 px-1 text-center"> 
                                <a href="/user/<%= user.user_id %>/candidatures/<%= candidature.id %>/pieces_jointes/<%= piece.id %>" target="_blank"><%= piece.original_filename %></a>
                            </td>
                            <td class="py-2 px-1 text-center"> 
                                <%= piece.categorie %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div class="py-2 border-top border-2 border-dark">
            <h1>Rappel de l'offre</h1>
            <h2 class="px-4 py-3"><%= candidature.title %></h2>
            <p><%= candidature.description %></p>
        </div>
    </main>
    <%- include('../../nav.ejs'); %>
</body>
</html>